.gamemodes-page {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;

}


.gamemodes-title {
  margin-bottom: 40px; 
  font-family: "TheQuick", sans-serif;
  font-size: 6rem;
  text-align: center;
}


.gamemodes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;   
  align-items: center;
}