.btn:hover {
  background-color: blue;
}

body {
  background-image: url('./photos/guitar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #87ceeb; /* Fallback sky blue */
}