.btn:hover {
  background-color: white;
}

body {
  background-image: url('./photos/guitar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #87ceeb; /* Fallback sky blue */
}

.strona1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.btn{
    width: 30vw;
    height: 10vh;
    font-size: 2rem;
}